<div class="container text-center items-center">
<h1 class="text-center m-2 p-2 text-secondary">Edit Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>

</div>